.button {
  outline: none;
  font-size: inherit;
  height: min-content;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
  margin: 0;
  cursor: pointer;
  color: #475569;
  padding: 8px;
  display: flex;
}

.button:hover {
  color: #94a3b8;
}

.button:disabled {
  cursor: not-allowed;
  color: #cbd5e1;
}

.icon {
  margin-right: 4px;
}

.icon > svg {
  height: 2rem;
  width: 2rem;
}
