.statusCell {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
}

.statusCellAvailable::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #a3e635;
  position: absolute;
  left: 0;
}

.interactiveRow:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.selectedRow {
  background-color: #e2e8f0;
}
